.container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.image{
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    width:400px;
    height:170px;
}

.button{
    height:100px;
}


.pubDate {
    font-weight: bolder;
    font-size: 40px;
    width:350px;
    height:100px;
}

.shortText{
    font-size: 23px;
    width:350px;
    height:280px;
}

.title {
    color: #c00;
    font-size: 2rem;
    margin: .5rem 0;
}

.clear {
    clear: both;
}


